/* Maquetando el formulario */

@font-face {
    font-family: 'playfair_display_scregular';
    src: url('playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('playfairdisplaysc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

form {
	width: 50%;
	margin: 30px auto 0 auto;
}

form .fil-form {
	margin-bottom: 10px;
}

form .last-fil-form {
	margin-bottom: 40px;
}

.fil-form input,
.fil-form textarea {
	padding: 5px;
	border-radius: 0px;
	border: 1px solid grey;
	transition: border .5s ease-out;
}

.fil-form input,
.fil-form textarea,
.fil-form label {
	display: block;
	width: 100%;
	box-sizing: border-box;
	resize:none;
	
}

p {
	padding-bottom: 20px;
	padding-top: 0px;
	color:#9B9B9B ;
}

.grow {
	/*padding-bottom: 6px;
	font-size: 16px;*/
	font-size:18px;  
    font-family: Arial, helvetica;  
    outline:none;  
    transition: all 0.75s ease-in-out;  
    -webkit-transition: all 0.75s ease-in-out;  
    -moz-transition: all 0.75s ease-in-out;  
    border-radius:3px;  
    -webkit-border-radius:3px;  
    -moz-border-radius:3px;  
    border:1px solid rgba(0,0,0, 0.2);  
    /*color: grey;  */
    
    padding: 3px;  
}
.grow:focus {
	box-shadow: 20px 0 40px #aaa;  
    -webkit-box-shadow: 0 0 10px #aaa;  
    -moz-box-shadow: 0 0 10px #aaa;  
    border:1px solid #999;  
     background-color:#AECCC6; 
}

#nombreCompleto {
	padding-bottom: 0px;
	width: 380px;
	height: 30px;
}

#restaurants, #preguntas {
	border: 0;
	border-bottom: 1px solid white;
	outline: none;
	transition: border .5s linear;
}

form button {
	background: #4ABDE2;
	color: white;
	border: 0px;
	border-radius: 20px;
	display: block;
	font-size: 14px;
	margin: 10px auto  0;
	padding: 10px;
	width: 100px;
}

footer p {
	text-align: center;
	font-size: 18px;
	margin-top: 100px;
	color:#9B9B9B;
}
#mensaje{
	display: block;
	/*width: 50%;*/
	width: 380px;
}
#restaurants{
	font-family:'playfair_display_scregular';
	font-size: 22px;
	color: #000000;
	
}
#preguntas{
	font-family:'robotoregular';
	font-size: 16px;
	color: #000000;
}

#preguntas:focus {
	border-bottom: 1px solid cyan;	
}

#restaurants:focus {
	border-bottom: 1px solid cyan;		
}

button.submit:active {
	line-height: 1;
	width: 120px;
	font-weight: bold;
	border: none;
	border: 1px solid #222;
	box-shadow: 0 0 10px 5px #444 inset;
}

form button:hover {
	opacity: .50%;
	color: #fff;
	font-size: 12px;
	animation: blinkButton 1.5s infinite;
	cursor: pointer;
}

@keyframes blinkButton {
	0% { opacity: 0.5; }
	50% { opacity: 1; }
	100% { opacity: 0,5; }
}

.grow:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
.grow1:hover{
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}